<ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
    {% if prev_id %}
        <li class="page-item">
            <a class="page-link" href="{% url 'comments:show' prev_id %}">
                <span aria-hidden="true">«</span>
            </a>
        </li>
    {% else %}
        <li class="page-item">
            <a class="page-link disabled">
                <span aria-hidden="true">«</span>
            </a>
        </li>
    {% endif %}
    {% if next_id %}
        <li class="page-item">
            <a class="page-link" href="{% url 'comments:show' next_id %}">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    {% else %}
        <li class="page-item">
            <a class="page-link disabled">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    {% endif %}
</ul>